@model IEnumerable<DziennikSportowca.Models.TrainingPlan>

@{
    ViewData["Title"] = "Index";
}

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="active"><span>Plany Treningowe</span></li>
    </ol>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                Liczba wykonanych treningów
            </th>
            <th>
                Data ostatniego treningu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{ var date = item.CreationDate.ToString("dd/MM/yyyy"); }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTrainings.Count)
            </td>
            <td>
                @{ 
                    var lastTraining = item.UserTrainings.OrderBy(x => x.EndDateTime).FirstOrDefault();
                    string lastTrainingDate = "Nie wykonano ¿adnego treningu";
                    if (lastTraining != null)
                    {
                        lastTrainingDate = lastTraining.EndDateTime.ToString("dd/MM/yyyy");
                    }

                }
                @Html.DisplayFor(modelItem => lastTrainingDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddTrainingExercises" asp-route-id="@item.Id">Add exercises</a> |
                <a asp-action="DoTheWorkout" asp-controller="UserTrainings" asp-route-id="@item.Id">Wykonaj trening</a>
            </td>
        </tr>
}
    </tbody>
</table>
