@model DziennikSportowca.Models.UserTraining

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTraining</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Training.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
