@*@model DziennikSportowca.Models.ViewModels.TrainingViewModel

@{
    ViewData["Title"] = "DoTheWorkout";
}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.pl.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>

<h2>DoTheWorkout</h2>
<input type="hidden" asp-for="TrainingPlan.Id" id="Id" readonly/>
<div class="form-group">
    <label asp-for="@Model.StartTime" class="col-md-2 control-label"></label>
    <div class="col-xs-3">
        <div class="input-group date" id="startDate">
            <input class="form-control" />
            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="@Model.EndTime" class="col-md-2 control-label"></label>
    <div class="col-xs-3">
        <div class="input-group date" id="endDate">
            <input class="form-control" />
            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".date").datetimepicker({
        format: "dd/mm/yyyy - hh:ii",
        language: "pl",
        autoclose: true,
        calendarWeeks: true,
        todayHighlight: true,
        todayBtn: "linked",
        minuteStep: 1,
        fontAwesome: true
    });
</script>

<div class="form-horizontal">
    <table class="table table-hover" id="WorkoutTable">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Partia</th>
                <th>Cwiczenie</th>
                <th>Liczba serii</th>
                <th>Liczba powtorzen</th>
                <th>Obciazenie</th>
            </tr>
        </thead>
        <tbody id="WorkoutBody">
            @{ int i = 1;
                if (Model.TrainingPlan.Exercises.Any())
                {
                    foreach (var data in Model.TrainingPlan.Exercises)
                    {
                        <tr>
                            <td class="ExerciseNo">@i</td>
                            <td class="PartName" value="">@data.Exercise.MuscleParts[0].MusclePart.Description</td>
                            <td class="Exercise">@data.Exercise.Name</td>
                            <td class="SeriesNo">@data.SeriesNo</td>
                            <td class="RepsNo">@data.RepsNo</td>
                            @for (int j = 0; j < data.SeriesNo; j++)
                            {
                            <td class="Weight">
                                <input asp-for="@Model.Weight" class="form-control" />
                            </td>
                            }
                        </tr>
                        i++;
                    }
                }
            }
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" id="Save" value="@Model.TrainingPlan.Id">Left</button>

<script type="text/javascript">
    $('#Save').click(function () {
        var data = [];
        data.Exercise = {};
        var exercises = $('#WorkoutTable > tbody > tr > td.Exercise');
        var series = $('#WorkoutTable > tbody > tr > td.SeriesNo');
        var reps = $('#WorkoutTable > tbody > tr > td.RepsNo');
        var weights = $('#WorkoutTable > tbody > tr > td.Weight > input');
        var i = 0;
        var k = 0;
        exercises.each(function () {
            var item = {};
            item["Exercise"] = this.innerHTML;
            item["SeriesNo"] = parseInt(series[i].innerHTML);
            item["RepsNo"] = parseInt(reps[i].innerHTML);
            item["Weight"] = [];
            var tmp = parseInt(series[i].innerHTML);
            for (var j = k; j < k + tmp; j++) {
                item["Weight"].push(parseFloat(weights[j].value));
            }
            k += tmp;
            i++;
            data.push(item);
        });

        var trainingResults = {};
        trainingResults.jsonString = JSON.stringify(data);
        trainingResults.id = $('#Id').val();
        trainingResults.startDate = JSON.stringify(createDate($('#startDate').find('input').val()));
        trainingResults.endDate = JSON.stringify(createDate($('#endDate').find('input').val()));

        $.ajax({
            url: '../SaveTrainingResults',
            type: 'POST',
            data: trainingResults,
            async: true,
            success: function (obj) {
                console.log("Hello");
                swal({
                    title: "Powodzenie",
                    text: "Twój trening zosta³ zapisany pomyœlnie.",
                    type: "success",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK!",
                    closeOnConfirm: true,
                    html: false
                }, function () {
                    window.location.href = '/UserTrainings/Index'
                });
            },
            error: function (obj) {
                swal("Niepowodzenie", "Napotkano nieoczekiwany b³¹d. Spróbuj ponownie.", "error");
            }

        })
    });

    function createDate(dateString)
    {
        var day = dateString.substr(0, 2);
        var month = parseInt(dateString.substr(3, 2)) - 1;
        var year = dateString.substr(6, 4);
        var hour = dateString.substr(13, 2);
        var minutes = dateString.substr(16, 2);

        return (new Date(year, month, day, hour, minutes));
    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
