@model DziennikSportowca.Models.ViewModels.TrainingViewModel

@{
    ViewData["Title"] = "DoTheWorkout";
}

@section Scripts { 
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.pl.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/js/UserTrainings/DoTheWorkout.js"></script>

    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();

            $(".date").datetimepicker({
                format: "dd/mm/yyyy - hh:ii",
                language: "pl",
                autoclose: true,
                calendarWeeks: true,
                todayHighlight: true,
                todayBtn: "linked",
                minuteStep: 1,
                fontAwesome: true
            });
    </script>
}

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a asp-action="Index">Moje Treningi</a></li>
        <li class="active"><span>Wykonywanie treningu</span></li>
    </ol>
</div>

<input type="hidden" asp-for="TrainingPlan.Id" id="Id" readonly/>
<div class="form-group">
    <label asp-for="@Model.StartTime" class="col-md-2 control-label"></label>
    <div class="col-xs-3">
        <div class="input-group date" id="startDate">
            <input class="form-control" placeholder="Czas rozpoczęcia" data-toggle="tooltip" title="Czas rozpoczęcie"/>
            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="@Model.EndTime" class="col-md-2 control-label"></label>
    <div class="col-xs-3">
        <div class="input-group date" id="endDate">
            <input class="form-control" placeholder="Czas zakończenia" data-toggle="tooltip" title="Czas zakończenia"/>
            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <table class="table table-hover" id="WorkoutTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Cwiczenie</th>
                <th>Typ aktywności</th>
                <th>Informacje o ćwiczeniu</th>
                <th>Wykonanie ćwiczenia</th>
            </tr>
        </thead>
        <tbody id="WorkoutBody">
            @{ int i = 1;
                if (Model.TrainingPlan.Exercises.Any())
                {
                    foreach (var data in Model.TrainingPlan.Exercises)
                    {
                        <tr>
                            <td class="ExerciseNo">@i</td>
                            <td class="Exercise">@data.Exercise.Name</td>
                            <td class="ActivityType">@data.Exercise.ActivityType.Description</td>
                            
                                @if (data.Exercise.ActivityType.Description == "Ćwiczenia siłowe")
                                {
                                    <td class="ExerciseInfo">
                                        <span class="SeriesNo">@data.SeriesNo</span>
                                        <span class="text1"> serie x </span>
                                        <span class="RepsNo">@data.RepsNo</span>
                                        <span class="text2"> powtórzeń</span>
                                    </td>
                                    <td class="Weight form-inline col-xs-4">
                                        @for (int j = 0; j < data.SeriesNo; j++)
                                        {
                                            <input asp-for="@Model.Weight" class="form-control input-sm" style="width: 60px;" placeholder="Obciążenie" data-toggle="tooltip" title="Obciążenie [kg]"/>
                                        }
                                    </td>
                                }
                                else if (data.Exercise.ActivityType.Description == "Ćwiczenia wytrzymałościowe" || data.Exercise.ActivityType.Description == "Sporty grupowe")
                                {
                                    <td class="ExerciseInfo">
                                        <span class="text1">Czas trwania: </span>
                                        <span class="ExerciseLength">@data.ExerciseLength</span>
                                        <span class="text2"> minut</span>
                                    </td>
                                    <td class="Length form-inline col-xs-4">
                                        <input asp-for="@Model.ExerciseLength" class="form-control input-sm" style="width: 60px;" placeholder="Czas" data-toggle="tooltip" title="Czas trwania [min]"/>
                                    </td>
                                }
                        </tr>
                        i++;
                    }
                }
            }
        </tbody>
    </table>
</div>

<div class="form-group">
    <div class="col-md-10">
        <button type="button" class="btn btn-success box bar" id="Save" value="@Model.TrainingPlan.Id">Zapisz trening <i class="fa fa-check-square-o"></i></button>
        <a asp-action="Index" class="btn btn-primary box foo">Powrót do listy <i class="fa fa-undo"></i></a>
    </div>
</div>
<br /><br />

