@model DziennikSportowca.Models.UserTraining

@{
    ViewData["Title"] = "Edit";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.pl.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>
<script type="text/javascript" src="~/js/UserTrainings/DoTheWorkout.js"></script>

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a asp-action="Index">Moje Treningi</a></li>
        <li class="active"><span>Edycja treningu</span></li>
    </ol>
</div>

<input type="hidden" asp-for="@Model.Id" id="Id" readonly />
<div class="form-group">
    <label asp-for="@Model.StartDateTime" class="col-md-2 control-label"></label>
    <div class="col-xs-3">
        <div class="input-group date" id="startDate">
            <input class="form-control" value="@Model.StartDateTime"/>
            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="@Model.EndDateTime" class="col-md-2 control-label"></label>
    <div class="col-xs-3">
        <div class="input-group date" id="endDate">
            <input class="form-control" value="@Model.EndDateTime"/>
            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <table class="table table-hover" id="WorkoutTable">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Partia</th>
                <th>Cwiczenie</th>
                <th>Liczba serii</th>
                <th>Liczba powtorzen</th>
                <th>Obciazenie</th>
            </tr>
        </thead>
        <tbody id="WorkoutBody">
            @{ int i = 1;
                if (Model.Training.Exercises.Any())
                {
                    foreach (var data in Model.Training.Exercises)
                    {
                        <tr>
                            <td class="ExerciseNo">@i</td>
                            <td class="PartName" value="">@data.Exercise.MuscleParts[0].MusclePart.Description</td>
                            <td class="Exercise">@data.Exercise.Name</td>
                            <td class="SeriesNo">@data.SeriesNo</td>
                            <td class="RepsNo">@data.RepsNo</td>
                            @foreach (var weight in Model.UserTrainingsExercisesResults[i - 1].Weights)
                            {
                                <td class="Weight">
                                    <input asp-for="@weight.Weight" class="form-control" />
                                </td>
                            }
                        </tr>
                        i++;
                    }
                }
            }
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" id="Edit" value="@Model.Id">Zapisz trening</button>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    $(".date").datetimepicker({
        format: "dd/mm/yyyy - hh:ii",
        language: "pl",
        autoclose: true,
        calendarWeeks: true,
        todayHighlight: true,
        todayBtn: "linked",
        minuteStep: 1,
        fontAwesome: true
    });
</script>