@model IEnumerable<DziennikSportowca.Models.UserTraining>

@{
    ViewData["Title"] = "Index";
}

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="active"><span>Moje treningi</span></li>
    </ol>
</div>
<a asp-controller="TrainingPlans" asp-action="Index" class="btn btn-primary box foo">Wykonaj trening <i class="fa fa-plus-square"></i></a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Training)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-success box curmudgeon btn-xs padding-5">Edytuj <i class="fa fa-pencil-square-o"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-info box foo btn-xs padding-5">Szczegóły <i class="fa fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger box bar btn-xs padding-5">Usuń <i class="fa fa-trash"></i></a>
                
            </td>
        </tr>
}
    </tbody>
</table>
