@using DziennikSportowca.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<DziennikSportowca.Models.ApplicationUser>
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="ApplicationUsers" asp-action="Index">
    <p>
        <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @{
                    var loggedUserId = userManager.GetUserId(User);
                    if (!context.UsersFriends.Where(x => (x.FriendId == item.Id && x.UserId == loggedUserId) ||
                        (x.FriendId == loggedUserId && x.UserId == item.Id)).Any() 
                        && item.Id != loggedUserId)
                    {
                        <a asp-action="SendInvitationToFriendship" asp-route-id="@item.Id">Zapros do znajomych</a>
                    }
                    else if(context.UsersFriends.Where(x => (x.FriendId == item.Id && x.UserId == loggedUserId)
                            || (x.FriendId == loggedUserId && x.UserId == item.Id)
                            && x.FriendshipStatus == FriendshipStatus.Friends).Any())
                    {
                        <p>Nawiazano znajomosc</p>
                    }
                    else if (context.UsersFriends.Where(x => x.FriendId == item.Id && x.UserId == loggedUserId
                             && x.FriendshipStatus == FriendshipStatus.InvitationSent).Any())
                    {
                        <p>Wyslano zaproszenie</p>
                    }
                }
                |<a asp-action="Profile" asp-route-id="@item.Id">View Profile</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
