@model DziennikSportowca.Models.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact";

}

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet" />
<link href="~/css/Contact.css" rel="stylesheet" />

<h2>@ViewData["InfoMessage"]</h2>

<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Skontaktuj Sie <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Z Nami!</span></h1>
        <h3>Jezeli masz jakis problem - nie krepuj sie i napisz do nas wiadomosc!</h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <form asp-action="Contact">
                <div class="col-md-6 form-line">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" type="text" class="form-control" id="" placeholder="Wpisz imie" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" type="email" class="form-control" id="exampleInputEmail" placeholder="Wpisz adres e-mail" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.PhoneNumber"></label>
                            <input asp-for="@Model.PhoneNumber" type="tel" class="form-control" id="telephone" placeholder="Wpisz numer telefonu" />
                        </div>
                    </div>
                </div>
                <div id="line"></div>
                <div class="col-md-6">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="@Model.Message"></label>
                            <textarea asp-for="@Model.Message" class="form-control" id="description" placeholder="Wpisz swoja wiadomosc"></textarea>
                        </div>
                        <div>
                            <button type="submit" value="Send" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Wyslij wiadomosc</button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </div>
    </div>
</section>
